.user-info__title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  color: #1A1B22;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .user-info__title {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .user-info__title {
    padding: 0;
    font-size: 40px;
    line-height: 46px;
  }
}
