.header__logo {
  margin: 16px 0 16px;
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .header__logo {
    font-size: 20px;
    line-height: 24px;
  }
}

.header__logo_dark {
  color: #1A1B22;
}

.header__logo_light {
  color: #FFF;
}
