@import url('./__image/article-card__image.css');
@import url('./__delete/article-card__delete.css');
@import url('./__description/article-card__description.css');
@import url('./__name/article-card__name.css');
@import url('./__date/article-card__date.css');
@import url('./__paragraph/article-card__paragraph.css');
@import url('./__source/article-card__source.css');
@import url('./__bookmark/article-card__bookmark.css');
@import url('./__tooltip/article-card__tooltip.css');
@import url('./__keyword/article-card__keyword.css');

.article-card {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  transition: ease .5s;
  cursor: pointer;
  margin: 0 auto;
  box-sizing: border-box;
}

.article-card:hover {
  box-shadow: 0 32px 58px -24px rgba(8, 29, 45, 0.1);
}


