.article-card__description {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 22px 16px 22px;
}

@media (min-width: 1024px) {
  .article-card__description {
    padding: 0 22px 24px 22px;
  }
}
