@import url("./__copy/footer__copy.css");
@import url("./__info/footer__info.css");
@import url("./__link/footer__link.css");
@import url("./__navigation/footer__navigation.css");
@import url("./__social/footer__social.css");

.footer{
  display: flex;
  flex-direction: row;
  min-height: 80px;
  margin: 0 auto;
  padding: 0 41px;
  box-sizing: border-box;
  background-color: #FFF;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    min-height: 200px;
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 0 41px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 0 104px;
  }
}
