.article-card__image {
  z-index: 0;
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  min-height: 196px;
}

@media (min-width: 768px) {
  .article-card__image {
    min-height: 150px;
  }
}

@media (min-width: 1024px) {
  .article-card__image {
    height: 272px;
  }
}

