.user-info__bio {
  margin: 0;
  padding: 24px 0 0 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.user-info__bio:last-of-type {
  padding: 24px 0 0 0;
}

@media (min-width: 768px) {
  .user-info__bio {
    padding: 16px 0 0 0;
  }
}

@media (min-width: 1024px) {
  .user-info__bio {
    padding: 24px 0 0 0;
  }
}
